<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminFeeds</servlet-name>
        <servlet-class>com.innerveil.api.feedback.AdminFeeds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignin</servlet-name>
        <servlet-class>com.innerveil.api.AdminSignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfiles</servlet-name>
        <servlet-class>com.innerveil.api.profile.AdminProfiles</servlet-class>
        <multipart-config>
            <location/>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AdminPanel</servlet-name>
        <servlet-class>com.innerveil.api.AdminPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBread</servlet-name>
        <servlet-class>com.innerveil.api.bread.AdminBread</servlet-class>
        <multipart-config>
            <location/>
            <max-file-size>200848820</max-file-size>
            <max-request-size>4018018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AdminLiveStream</servlet-name>
        <servlet-class>com.innerveil.api.livestream.AdminLiveStream</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSermon</servlet-name>
        <servlet-class>com.innerveil.api.sermon.AdminSermon</servlet-class>
        <multipart-config>
            <location/>
            <max-file-size>200848820</max-file-size>
            <max-request-size>4018018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AdminMusic</servlet-name>
        <servlet-class>com.innerveil.api.music.AdminMusic</servlet-class>
        <multipart-config>
            <location/>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AdminOutreach</servlet-name>
        <servlet-class>com.innerveil.api.outreach.AdminOutreach</servlet-class>
        <multipart-config>
            <location/>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AdminPrayerRequest</servlet-name>
        <servlet-class>com.innerveil.api.prayerrequest.AdminPrayerRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTestimony</servlet-name>
        <servlet-class>com.innerveil.api.testimony.AdminTestimony</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNewsLetters</servlet-name>
        <servlet-class>com.innerveil.api.newsletter.AdminNewsLetters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGallery</servlet-name>
        <servlet-class>com.innerveil.api.gallery.AdminGallery</servlet-class>
        <multipart-config>
            <location/>
            <max-file-size>200848820</max-file-size>
            <max-request-size>4018018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminFeeds</servlet-name>
        <url-pattern>/Admin/AdminFeeds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignin</servlet-name>
        <url-pattern>/Admin/AdminSignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfiles</servlet-name>
        <url-pattern>/Admin/AdminProfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPanel</servlet-name>
        <url-pattern>/Admin/AdminPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBread</servlet-name>
        <url-pattern>/Admin/AdminBread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLiveStream</servlet-name>
        <url-pattern>/Admin/AdminLiveStream</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSermon</servlet-name>
        <url-pattern>/Admin/AdminSermon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMusic</servlet-name>
        <url-pattern>/Admin/AdminMusic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOutreach</servlet-name>
        <url-pattern>/Admin/AdminOutreach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPrayerRequest</servlet-name>
        <url-pattern>/Admin/AdminPrayerRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTestimony</servlet-name>
        <url-pattern>/Admin/AdminTestimony</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewsLetters</servlet-name>
        <url-pattern>/Admin/AdminNewsLetters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGallery</servlet-name>
        <url-pattern>/Admin/AdminGallery</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
