/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 4, 2022, 1:15:58 PM
    Author     : Silas
*/

/*Page loader*/
.loading {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(images/Loading.gif) center no-repeat aliceblue;
}

/*Navigation styles below*/
.navmenubutton {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 50%;
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.navmenubutton:hover {
    box-shadow: 1px 1px 15px 8px lightgrey;
    background: whitesmoke;
}

.nav {
    font-family: Calibri;
    font-size: 29px;
    color: maroon;
    background-image: url(images/logo2.png);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    top: 0px;
    position: fixed;
    width: 99%;
    vertical-align: central;
    box-shadow: 1px 0px 17px 2px dodgerblue;
}

.navdrawer {
    font-family: Calibri;
    font-size: 24px;
    color: white;
    background: linear-gradient(to right, maroon,skyblue);
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 275px;
    height: 100%;
    box-shadow: 1px 5px 17px 3px dodgerblue;
    overflow: scroll;
}

.navbutton {
    font-family: Calibri;
    font-size: 24px;
    color: white;
    text-align: left;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    background: maroon;
    border-radius: 0px 7px 0px 7px;
    border-width: 0px;
    width: 100%;
    transition: background 1s;
}

.rightnav {
    font-family: Calibri;
    font-size: 24px;
    color: white;
    background: linear-gradient(to right, skyblue,maroon);
    padding: 12px;
    text-align: center;
    width: 310px;
    position: fixed;
    right: 0px;
    top: 0px;
    box-shadow: 1px 0px 17px 3px dodgerblue;
    border-radius: 17px 0px 0px 17px;
}

.navbutton:hover {
    background: white;
    color: maroon;
}

/*Nav*/

/*General styling below*/

a {
    padding: 4px;
    font-family: Calibri;
    font-size: 23px;
    color: maroon;
    background: white;
    outline-style: ridge;
    outline-color: maroon;
    outline-width: 3px;
    transition: background 1s;
    text-decoration: none;
    border-radius: 5%;
}

a:hover {
    color: white;
    background: maroon;
    box-shadow: 3px 4px 15px 5px lightslategrey;
}

body {
    padding: 0%;
    background: url(images/charbody.png) center repeat white fixed;
    background-size: 13%,13%;
    font-family: Calibri;
    font-size: 24px;
    color: black;
}

.overview {
    background: url(images/penbody.png) center repeat white;
    background-size: 3%,3%;
    font-family: Calibri;
    font-size: 24px;
    color: maroon;
    text-align: center;
}

.content {
    background-color: white;
    font-family: Calibri;
    font-size: 24px;
    color: black;
}

button {
    background: white;
    border-radius: 10%;
    border-width: 8px;
    border-color: maroon;
    font-family: Calibri;
    font-size: 24px;
    color: maroon;
    transition: border-color 1s;
}

button:hover {
    border-color: green;
    color: green;
    box-shadow: 3px 4px 15px 5px lightslategrey;
}

.mrn {
    background: maroon;
}

.input {
    font-family: Calibri;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    color: darkslategrey;
    background: white;
    border-width: 7px;
    border-color: skyblue;
    border-radius: 5%;
    width: 70%;
}

.form {
    width: 300px;
}

.input:focus {
    border-color: deepskyblue;
}

@keyframes mercy {
    0% {background: linear-gradient(to left, red,deepskyblue,maroon,slategrey);}
    30% {background: linear-gradient(to left, deepskyblue,maroon,white,red);}
    70% {background: linear-gradient(to left, maroon,slategrey,red,deepskyblue);}
    100% {background: linear-gradient(to left, slategrey,red,deepskyblue,maroon);}
}

.board {
    background: linear-gradient(to right, royalblue,maroon,deepskyblue);
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}

.boarda {
    background: linear-gradient(to right, white,dodgerblue,red);
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}

.boardb {
    background: linear-gradient(to right, aqua,purple,lightsalmon);
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}

.boardc {
    background: linear-gradient(to right, gold,blueviolet,white);
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}

.boardd {
    background: linear-gradient(to right, white,royalblue,white);
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}

.boarde {
    background-image: url(images/sky1.jpg);
    background-size: 100%,100%;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}
.boardf {
    background-image: url(images/sky2.jpg);
    background-size: 100%,100%;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}
.boardg {
    background-image: url(images/sky3.jpg);
    background-size: 100%,100%;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}
.boardh {
    background-image: url(images/sky4.jpg);
    background-size: 100%,100%;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}
.boardi {
    background-image: url(images/sky5.jpg);
    background-size: 100%,100%;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}
.boardj {
    background-image: url(images/sky6.jpg);
    background-size: 100%,100%;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}
.boardk {
    background-image: url(images/sky7.jpg);
    background-size: 100%,100%;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}
.board123 {
    background-image: url(images/skbg.jpg);
    background-size: 100%,100%;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: central;
    height: 300px;
    transition: background 1s;
}

.board2 {
    background-image: url(images/logo2.png);
    background-color: maroon;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 19%;
    font-family: Calibri;
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 7%;
}

/*Content styles*/
.jesus {
    background: lightcoral;
    border-color: maroon;
    border-width: 3px;
    border-radius: 5%;
    box-shadow: 1px 2px 37px 7px maroon;
    width: 210px;
    height: 285px;
}

.defimg {
    background: lightcoral;
    border-color: maroon;
    border-width: 3px;
    border-radius: 5%;
    box-shadow: 1px 2px 23px 4px maroon;
    width: 270px;
    height: 278px;
}

.wideimg {
    background: lightcoral;
    border-color: maroon;
    border-width: 3px;
    border-radius: 5%;
    box-shadow: 1px 2px 17px 7px maroon;
    width: 70%;
    height: 57%;
}

.container {
    float: left;
    padding: 7px;
    vertical-align: central;
    max-width: 800px;
}

.titling {
    background: linear-gradient(to right, blue,maroon,blue);
    font-family: Calibri;
    font-size: 34px;
    color: aliceblue;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding: 10px;
}

/*Footer styles*/
.footer {
    background: /*url(images/footerbg2.png) */left 21% repeat hsl(0,25%,20%);;
    padding: 0px;
    float: left;
    width: 100%;
}

.footeritem {
    float: left;
    padding: 1px;
    font-family: Calibri;
    font-size: 24px;
    color: aliceblue;
    background: hsl(0,25%,20%);
    text-align: center;
    vertical-align: top;
}

.footerinner {
    padding: 1px;
    font-family: Calibri;
    font-size: 24px;
    color: aliceblue;
    background: hsl(0,25%,20%);
    text-align: center;
    vertical-align: top;
    min-width: 300px;
    width: 100%;
}

.footeritem a {
    padding: 5px;
    font-family: Calibri;
    font-size: 23px;
    color: white;
    background: hsl(0,25%,20%);
    outline-style: dotted;
    outline-color: white;
    outline-width: 1px;
    border-radius: 7%;
    transition: background 1s;
}

.footeritem a:hover {
    background: white;
    color: maroon;
    outline-color: maroon;
}

.footerbase {
    background: /*url(images/footerbg2.png) */left 21% repeat hsl(0,25%,20%);;
    padding: 0px;
    text-align: center;
    width: 100%;
    color: aliceblue;
}

.link1 {
    float: left;
    background: blue;
    padding: 47px;
    outline-width: 7px;
    outline-style: dashed;
    outline-color: white;
    box-shadow: 1px 1px 12px 5px blue;
    color: white;
    border-radius: 5%;
    font-size: 27px;
    transition: box-shadow 0.5s;
    width: 240px;
    text-align: center;
}

.link1:hover {
    box-shadow: 0px 0px 34px 12px blue;
}

.link2 {
    float: left;
    background: green;
    padding: 47px;
    outline-width: 7px;
    outline-style: dashed;
    outline-color: white;
    box-shadow: 1px 1px 12px 5px green;
    color: white;
    border-radius: 5%;
    font-size: 27px;
    transition: box-shadow 0.5s;
    width: 240px;
    text-align: center;
}

.link2:hover {
    box-shadow: 0px 0px 34px 12px green;
}

.link3 {
    float: left;
    background: purple;
    padding: 47px;
    outline-width: 7px;
    outline-style: dashed;
    outline-color: white;
    box-shadow: 1px 1px 12px 5px purple;
    color: white;
    border-radius: 5%;
    font-size: 27px;
    transition: box-shadow 0.5s;
    width: 240px;
    text-align: center;
}

.link3:hover {
    box-shadow: 0px 0px 34px 12px purple;
}

.link4 {
    float: left;
    background: red;
    padding: 47px;
    outline-width: 7px;
    outline-style: dashed;
    outline-color: white;
    box-shadow: 1px 1px 12px 5px red;
    color: white;
    border-radius: 5%;
    font-size: 27px;
    transition: box-shadow 0.5s;
    width: 240px;
    text-align: center;
}

.link4:hover {
    box-shadow: 0px 0px 34px 12px red;
}

.link5 {
    float: left;
    background: deepskyblue;
    padding: 47px;
    outline-width: 7px;
    outline-style: dashed;
    outline-color: white;
    box-shadow: 1px 1px 12px 5px deepskyblue;
    color: white;
    border-radius: 5%;
    font-size: 27px;
    transition: box-shadow 0.5s;
    width: 240px;
    text-align: center;
}

.link5:hover {
    box-shadow: 0px 0px 34px 12px deepskyblue;
}

.link6 {
    float: left;
    background: deeppink;
    padding: 47px;
    outline-width: 7px;
    outline-style: dashed;
    outline-color: white;
    box-shadow: 1px 1px 12px 5px deeppink;
    color: white;
    border-radius: 5%;
    font-size: 27px;
    transition: box-shadow 0.5s;
    width: 240px;
    text-align: center;
}

.link6:hover {
    box-shadow: 0px 0px 34px 12px deeppink;
}

.link7 {
    float: left;
    background: slateblue;
    padding: 47px;
    outline-width: 7px;
    outline-style: dashed;
    outline-color: white;
    box-shadow: 1px 1px 12px 5px slateblue;
    color: white;
    border-radius: 5%;
    font-size: 27px;
    transition: box-shadow 0.5s;
    width: 240px;
    text-align: center;
}

.link7:hover {
    box-shadow: 0px 0px 34px 12px slateblue;
}

.link8 {
    float: left;
    background: chocolate;
    padding: 47px;
    outline-width: 7px;
    outline-style: dashed;
    outline-color: white;
    box-shadow: 1px 1px 12px 5px chocolate;
    color: white;
    border-radius: 5%;
    font-size: 27px;
    transition: box-shadow 0.5s;
    width: 240px;
    text-align: center;
}

.link8:hover {
    box-shadow: 0px 0px 34px 12px chocolate;
}